{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{ user }}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Choice</th>
                <th>Date added</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
            <tr>
                <td>{{ answer.question }}</td>
                <td>{{ answer.choice }}</td>
                <td>{{ answer.date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
