{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Document{% endblock %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-light navbar-static-top">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'learning_logs:index' %}">Home</a></li>
          <li><a href="{% url 'learning_logs:topics' %}">Topics</a></li>
          <li><a href="{% url 'polls:questions' %}">Polls</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ user.username|title }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'polls:answer' %}">Answer</a></li>
                <li><a href="{% url 'users:profile' %}">Form</a></li>
                <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sing out</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'users:register' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sing Up</a></li>
            <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Sing In</a></li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>

  <div class="container">
    <div class="page-header">{% block header %}{% endblock %}</div>
    <div>{% block content %}{% endblock %}</div>
  </div>

</body>
</html>
