{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'learning_logs:index' %}">Home</a></li>
      <li class="active">Articles</li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-4">
      <form class="form-inline" role="form">
        <div class="imput-group">

          <select name="tag_query" class="form-control">
            <option value="" {% if not tag_query %}selected="selected"{% endif %}>- tags -</option>
            {% for tag in tags %}
              <option value="{{ tag.slug }}" {% if tag_query == tag.slug %}selected="selected"{% endif %}>{{ tag }}</option>
            {% endfor %}
          </select>

          <select name="sort_by" class="form-control">
            <option value="" {% if not sort_by %}selected="selected"{% endif %}>- order by -</option>
            <option value="-date_added" {% if sort_by == "-date_added" %}selected="selected"{% endif %}>Newest</option>
            <option value="date_added" {% if sort_by == "date_added" %}selected="selected"{% endif %}>Oldest</option>
            <option value="-views" {% if sort_by == "-views" %}selected="selected"{% endif %}>Most viewed</option>
            <option value="-likes" {% if sort_by == "-likes" %}selected="selected"{% endif %}>Most liked</option>
            <option value="-comments" {% if sort_by == "-comments" %}selected="selected"{% endif %}>Most commented</option>
          </select>

          <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-filter"></span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <br>

  <div class="row">
    <article class="col-sm-10">
      {% for entry in entry_list %}

          <div class="media">
            <div class="media-left">
              <a href="{% url 'learning_logs:entry' entry.slug %}">
                {% if entry.image %}
                  <img src="{{ entry.image.url }}" alt="{{ entry.title }}" class="media-object" height="150" width="200">
                {% else %}
                  <img src="{% static 'img/photo_not_found.jpg' %}" alt="photo_not_found" class="media-object" height="150" width="200">
                {% endif %}
              </a>
            </div>

            <div class="media-body">
              <a href="{% url 'learning_logs:entry' entry.slug %}"><h4 class="media-heading">{{ entry.title }}</h4></a>

              <div class="text-muted">{{ entry.date_added|date:'F d, Y' }} by {{ entry.owner|title }}</div>

              <div class="text-justify">{{ entry.text|linebreaks|truncatewords:30 }}</div>

              <span class="glyphicon glyphicon-eye-open"></span> {{ entry.views }}&nbsp;&nbsp;
              <span class="glyphicon glyphicon-pencil"></span> {{ entry.comments }}&nbsp;&nbsp;
              <span class="glyphicon glyphicon-thumbs-up"></span> {{ entry.likes }}&nbsp;&nbsp;
              {% for tag in entry.tag.all %}
                <a href="{% url 'learning_logs:entries' %}?tag_query={{ tag.slug }}" class="btn btn-default btn-xs">{{ tag.title }}</a>&nbsp;
              {% endfor %}
            </div>
          </div>
      {% empty %}
        <div class="panel panel-default">
          <div class="panel-heading">No entries.</div>
        </div>
      {% endfor %}
    </article>

    <nav class="col-sm-3 col-sm-offset-4">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li>
              <a href="?page={{ page_obj.previous_page_number }}">
                <span>&laquo;</span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#">
                <span>&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% for page in paginator.page_range %}
            <li {% if page == page_obj.number %}class="active"{% endif %}>
              <a href="?page={{ page }}">{{ page }}</a>
            </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li>
              <a href="?page={{ page_obj.next_page_number }}">
                <span>&raquo;</span>
              </a>
            </li>
          {% else %}
            <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
              <a href="#">
                <span>&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>
  </div>

{% endblock %}
