{% load staticfiles %}

<div class="row">
<div class="col-sm-7 col-sm-offset-2">
  <br>
  <div class="media">

    <div class="media-left">
      <a href="{% url 'learning_logs:entry' entry.slug %}">
        {% if entry.image %}
          <img src="{{ entry.image.url }}" alt="{{ entry.title }}" class="media-object" height="150" width="200">
        {% else %}
          <img src="{% static 'img/photo_not_found.jpg' %}" alt="photo_not_found" class="media-object" height="150" width="200">
        {% endif %}
      </a>
    </div>

    <div class="media-body">
      <span class="glyphicon glyphicon-eye-open"></span> {{ entry.views }}&nbsp;&nbsp;
      <span class="glyphicon glyphicon-pencil"></span> {{ entry.comment_set.all.count }}&nbsp;&nbsp;
      {% for tag in entry.tag.all %}
        <a href="{% url 'learning_logs:entry_tag' tag.slug %}" class="btn btn-default btn-xs">{{ tag.title }}</a>&nbsp;
      {% endfor %}

      <a href="{% url 'learning_logs:entry' entry.slug %}"><h4 class="media-heading">{{ entry.title }}</h4></a>
      
      {{ entry.date_added|date:'F d, Y' }} by {{ entry.owner|title }}

      <p>{{ entry.text|linebreaks|truncatewords:30 }}</p>
    </div>

  </div>

</div>
</div>