{% extends 'base.html' %}
{% load static %}

{% block title %}{{ bc_item|title }}{% endblock %}

{% block breadcrumb %}
    <header class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'learning_logs:index' %}">Home</a></li>
                <li class="breadcrumb-item active">{{ bc_item|title }}</li>
            </ol>
        </nav>
    </header>
{% endblock %}

{% block content %}
  <section class="container">
    <div class="row">
      {% for entry in entry_list %}
        <article class="col-12">
          <div class="row">
            <div class="col-lg-3">
              <a href="{% url 'learning_logs:entry' entry.slug %}">
                <img  
                  class="media-object"
                  height="150"
                  width="200"
                  {% if entry.image %}
                    src="{{ entry.image.url }}"
                    alt="{{ entry.title }}"
                  {% else %}
                    src="{% static 'img/photo_not_found.jpg' %}"
                    alt="photo_not_found"
                  {% endif %}
                >
              </a>
            </div><!-- col-4 -->
            <div class="col-lg-9">
              <h4 class="media-heading"><a href="{% url 'learning_logs:entry' entry.slug %}">{{ entry.title }}</a></h4>
              {% for tag in entry.tag.all %}
                <span class="badge badge-{{ tag.color }}">{{ tag.title }}</span>&nbsp;
              {% endfor %}
              <span class="text-muted">{{ entry.date_added|date:'F d, Y' }} by <a href="{% url 'users:profile' entry.owner.person.id %}">{{ entry.owner|title }}</a></span>
              <p>{{ entry.text|linebreaks|truncatewords:50 }}</p>
              views: {{ entry.views }}&nbsp;&nbsp;
              comments: {{ entry.comments }}&nbsp;&nbsp;
              likes: {{ entry.likes }}&nbsp;&nbsp;
            </div><!-- col-8 -->
          </div><!-- row -->
          <br><br>
        </article><!-- com -->
      {% endfor %}
    </div><!-- row -->
  </section><!-- container -->
{% endblock %}
