{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}{{ entry }}{% endblock %}

{% block breadcrumb %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'learning_logs:index' %}"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="{% url 'learning_logs:entries' %}">Articles</a></li>
      <li class="active">{{ entry }}</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-lg-offset-2">

      <!-- Display author entry -->
      <div class="row">
        <div class="media">
          <div class="media-left">
            {% if avatar %}
              <img src="{{ avatar_url }}" class="media-object img-circle" height='50px' width="50px">
            {% else %}
              <img src="{% static 'img/avatar-tiny.jpg' %}" class="media-object img-circle" heigth="64">
            {% endif %}
          </div>
          <div class="media-body">
            <div class="media-heading">
              <h4>
                <a href="{% url 'users:profile' entry.owner.person.id %}">{{ entry.owner|title }}</a>
                <div>
                  <small>Pablished on {{ entry.date_added|date:'F d, Y' }}</small>
                </div>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <!-- Display title block -->
      <div class="row">
        <h1>
          {{ entry.title }}
          {% if user == entry.owner %}
            <a href="{% url 'learning_logs:entry_update' entry.slug %}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{% url 'learning_logs:entry_delete' entry.slug %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
          {% endif %}
          <div>
            <small>
              {{ entry.views }} views
            </small>
          </div>
        </h1>
      </div>

      <!-- Display image -->
      <div class="row">
        {% if entry.image %}
          <img src="{{ entry.image.url }}" alt="{{ entry.title }}" class="media-object" height='300'>
          <br>
        {% endif %}
      </div>

      <!-- Display entry text -->
      <div class="row">
        {{ entry.text|linebreaks }}
      </div>
      
      <br>
      <!-- Display tags -->
      <div class="row">
        {% for tag in tags %}
          <a href="{% url 'learning_logs:entries' %}?tag_query={{ tag.slug }}" class="btn btn-default">{{ tag.title }}</a>
        {% endfor %}
      </div>

      <br>

      <!-- Like button -->
      {% if user.is_authenticated %}
        <div class="row">
          <a href="{% url 'learning_logs:entry_like' entry.slug %}" class="btn btn-default">
            <span class="glyphicon glyphicon-thumbs-up"></span> Like | {{ entry.likes }}
          </a>
        </div>
      {% endif %}

      <br>

      <!-- Add new comments -->
      {% if user.is_authenticated %}
        <div class="row">
          <h4>Leave a Comment:</h4>
          <form action="{% url 'learning_logs:comment_create' entry.slug %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-default" value="Post comment">
          </form>
        </div>
      {% endif %}

      <br>
      
      <div class="row">
        <h5>
          <span class="badge">{{ entry.comments }}</span> Comment{{ entry.comments|pluralize }}:
        </h5>
        
        <!-- Display comments -->
        {% for comment in comments %}
          <div class="media">
            <div class="media-left">
              {% if comment.owner.person.image %}
                <img src="{{ comment.owner.person.image.url }}" class="media-object img-circle" height='50px' width="50px">
              {% else %}
                <img src="{% static 'img/avatar-tiny.jpg' %}" class="media-object img-circle">
              {% endif %}
            </div>
            <div class="media-body">
              <h4 class="media-heding">
                <a href="{% url 'users:profile' comment.owner.person.id %}">{{ comment.owner|title }}</a>
                <small><i>Pablished on {{ comment.date_added|date:'F d, Y' }}</i></small>
                {% if comment.owner == user %}
                  &nbsp;<a href="{% url 'learning_logs:comment_update' comment.pk %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                  <a href="{% url 'learning_logs:comment_delete' comment.pk %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
              </h4>
              {{ comment.text|linebreaks }}
            </div>
          </div>
        {% empty %}
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">No comments this entry yet.</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div> <!-- end row -->
</div>
{% endblock %}
