{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ entry }}{% endblock %}

{% block content %}
  <h1>
    {{ entry|title }}
    {% if user == entry.owner %}
      <a href="{% url 'learning_logs:entry_update' entry.slug %}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
      <a href="{% url 'learning_logs:entry_delete' entry.slug %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
    <div><small><i>{{ entry.views }} views </i></small></div>
  </h1>
  {% if entry.image %}
    <img src="{{ entry.image.url }}" alt="{{ entry.title }}" class="img-thumbnail">
  {% endif %}
  <div class="media">
    <div class="media-left">
      <img src="{% static 'img/avatar-tiny.jpg' %}" alt="" class="media-object img-circle">
    </div>
    <div class="media-body">
      <div class="media-heading">
        <h4>
          {{ entry.owner|title }}
          <div>
            <small><i>Pablished on {{ entry.date_added|date:'M d, Y' }}</i></small>
          </div>
        </h4>
      </div>
    </div>
  </div>
  <br>
  <p class="text-justify">{{ entry.text|linebreaksbr }}</p>
  <br>
  {% if user.is_authenticated %}
    <div>
      <a href="{% url 'learning_logs:comment_create' entry.slug %}" class="btn btn-success">Add new comment</a>
    </div>
    <br>
  {% endif %}

  <h4>Comments:</h4>
  {% for comment in entry.comment_set.all %}
    <div class="media">
      <div class="media-left">
        <img src="{% static 'img/avatar-tiny.jpg' %}" alt="{{ comment.owner|title }}" class="media-object img-circle">
      </div>
      <div class="media-body">
        <h4 class="media-heding">
          {{ comment.owner|title }}
          <small><i>Pablished on {{ comment.date_added|date:'M d, Y' }}</i></small>
          {% if comment.owner == user %}
            &nbsp;<a href="{% url 'learning_logs:comment_update' comment.pk %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{% url 'learning_logs:comment_delete' comment.pk %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
          {% endif %}
        </h4>
        <p>{{ comment.text|linebreaks }}</p>
      </div>
    </div>
  {% empty %}
    <div class="panel panel-default">
      <div class="panel-heading">No comments this entry yet.</div>
    </div>
  {% endfor %}
{% endblock %}
