{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'learning_logs:entries' %}">Articles</a></li>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
        New article
    </div>
    <div class="card-body">
      <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.title.label_tag }}
          {{ form.title }}
          {{ form.title.errors }}
        </div>
        <div class="mb-3">
          {{ form.tag.label_tag }}<br>
          <a id="addTagBtn" class="btn btn-success btn-sm my-3" href="{% url 'learning_logs:tag_create' %}" target="_blank">Add tag</a>
          {{ form.tag }}
          {{ form.tag.errors }}
        </div>
        <div class="mb-3">
          {{ form.text.label_tag }}
          {{ form.text }}
          {{ form.text.errors }}
        </div>
        <div class="mb-3">
          {{ form.image.label_tag }}
          {{ form.image }}
          {{ form.image.errors }}
        </div>
        <button class="btn btn-outline-success" type="submit">{{ title }}</button>
      </form>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="addTagModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create tag</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addTagForm">
          <div class="mb-3">
            <input type="text" id="tagTitleField" name="title" class="form-control" placeholder="Tag name">
          </div>
          <div class="mb-3">
            <select class="form-select" id="tagColorField" name="color" aria-label="Default select example">
              <option selected>Open this select menu</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addTagActionBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
