{% extends 'learning_logs/base.html' %}

{% block header %}
  <div class="jumbotron text-center">
    <h1>Learning Log</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    {% for entry in entries %}
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <h3>{{ entry.title }}</h3>
        <p><span class="glyphicon glyphicon-user"></span> {{ entry.owner|title }} - {{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|truncatewords:33 }}</p>
        <p><a href="{% url 'learning_logs:entry' entry.slug %}" class="btn btn-primary">Read More</a></p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
