{% extends 'learning_logs/base.html' %}

{% block header %}
  <div class="jumbotron text-center">
    <h1>Learning Log</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolore reprehenderit nesciunt. Asperiores eaque voluptates ut tempore sit quam optio accusamus laborum facere aliquid nesciunt libero fugit non, adipisci voluptas quaerat deleniti consectetur, consequuntur molestias culpa iusto nemo accusantium? Dolorem?</p>
    <a href="{% url 'users:register' %}" class="btn btn-success btn-lg">Register</a>
  </div>
{% endblock %}

{% block content %}
{% endblock %}
