{% load entries_extras %}
{% get_three_popular_entries as entry_list %}

{% if entry_list %}
    <div class="container-fluid bg-3">
        <div class="container">
            <div class="row">
                {% for entry in entry_list %}
                    <div class="col-sm-4">
                        <h3>
                            <a href="{% url 'learning_logs:entry' entry.slug %}">{{ entry.title }}</a>
                        </h3>
                        <h5>
                            <span class="glyphicon glyphicon-time"></span> {{ entry.date_added|date:'F d, Y' }} by <a href="{% url 'users:profile' entry.owner.person.id %}">{{ entry.owner|title }}</a>
                        </h5>
                        <h5>
                            {% for tag in entry.tag.all %}
                                <a href="{% url 'learning_logs:tag' tag.slug %}" class="btn btn-{{ tag.color }} btn-xs">{{ tag.title }}</a>&nbsp;
                            {% endfor %}
                        </h5>
                        {{ entry.text|linebreaks|truncatewords:33 }}
                        <h5>
                            <span class="glyphicon glyphicon-eye-open"></span> {{ entry.views }}&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment"></span> {{ entry.comments }}&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-thumbs-up"></span> {{ entry.likes }}&nbsp;&nbsp;
                        </h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}