{% extends 'base.html' %}

{% block title %}Add new tag{% endblock %}

{% block breadcrumb %}
  <header class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'learning_logs:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'learning_logs:tags' %}">Tags</a></li>
        <li class="breadcrumb-item active">Add new tag</li>
      </ol>
    </nav>
  </header>
{% endblock %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-12">
        <form action="" method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-success" type="submit">Create tag</button>
        </form>
      </div>
    </div>
  </section>
  <br>
{% endblock %}
