{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Tags{% endblock %}

{% block breadcrumb %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'learning_logs:index' %}">Home</a></li>
      <li class="active">Tags</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
    {% for tag in tags %}
        <a href="{% url 'learning_logs:entries' %}?tag_query={{ tag.slug }}" class="btn btn-default">{{ tag.title }}</a>
    {% empty %}
        <p>No tags</p>
    {% endfor %}
{% endblock %}
