{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<header class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'learning_logs:index' %}">Home</a></li>
      <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
  </nav>
</header>
{% endblock %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-info">Tags list</h2>
        {% for tag in tags %}
          <a href="{% url 'learning_logs:tag' tag.slug %}" class="btn btn-sm btn-outline-{{tag.color}}">{{ tag.title }}</a>&nbsp;
        {% empty %}
          <div class="alert alert-primary" role="alert">
            No tags
          </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <a href="{% url 'learning_logs:tag_create' %}" class="btn btn-primary">Add tag</a>
      </div>
    </div>
  </section>
  <br>
{% endblock %}
