{% extends 'learning_logs/base.html' %}

{% block content %}
  <p>Topic: {{ topic }}</p>

  <p>Entries:</p>

  <p><a href="{% url 'learning_logs:entry_create' topic.slug %}">Add a new entry</a></p>

    {% for entry in entries %}
      <div>
        <p>
          <a href="{% url 'learning_logs:entry' entry.slug %}">
          {{ entry.title }}</a>
        </p>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|linebreaks|truncatewords:33 }}</p>
      </div>
    {% empty %}
        <p>There are no entries for this topic yet.</p>
    {% endfor %}
{% endblock %}
