{% extends 'learning_logs/base.html' %}

{% block title %}{{ topic }}{% endblock %}

{% block header %}
  <a href="{% url 'learning_logs:topics' %}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
{% endblock %}

{% block content %}
  <h1>Topic: {{ topic|title }}</h1>
  <br><br>
  {% for entry in topic.entry_set.all %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">{{ entry.title }}</h2>
      </div>
      <div class="panel-body">{{ entry.text|linebreaks|truncatewords:33 }}</div>
      <div class="panel-footer clearfix">
        <span>{{ entry.date_added|date:'M d, Y H:i' }}</span> by
        <span>{{ entry.owner|title }}</span>
        <div class="pull-right">
          <a href="{% url 'learning_logs:entry' entry.slug %}" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="panel panel-danger">
      <div class="panel-heading">There are no entries for this toliic yet.</div>
    </div>
  {% endfor %}

  {% if user.is_authenticated %}
    <a href="{% url 'learning_logs:entry_create' topic.slug %}" class="btn btn-success">Add new entry</a>
  {% endif %}
{% endblock %}
