{% extends 'learning_logs/base.html' %}

{% block content %}

  <p>Topics</p>

  <ul>
    {% for topic in topic_list %}
      <li>
        <a href="{% url 'learning_logs:topic' topic.slug %}">{{ topic }}</a> 
        <a href="{% url 'learning_logs:topic_update' topic.slug %}"> - update</a>
        <a href="{% url 'learning_logs:topic_delete' topic.slug %}"> - delete</a>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'learning_logs:topic_create' %}">Add a new topic</a>

{% endblock %}
