{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ topic }}{% endblock %}

{% block content %}

  <div class="row">
    {% for entry in topic.entry_set.all %}
      {% include 'learning_logs/entry_list_snippet.html' %}
    {% empty %}
      {% include 'learning_logs/no_entry_snippet.html' %}
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
    <hr>
    <a href="{% url 'learning_logs:entry_create' topic.slug %}" class="btn btn-success">Add new entry</a>
  {% endif %}

{% endblock %}
