{% extends 'base.html' %}

{% block content %}
  <section class="card">
    <div class="card-header">
        <h2>Log In</h2>
    </div>
    <div class="card-body">
    <form action="" method="post" class="form-signin">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" required autofocus maxlength="254" id="id_username" class="form-control" placeholder="username">
            {{ form.username.errors }}
          </div>
          <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" id="id_password" class="form-control" name="password" required placeholder="password">
            {{ form.password.errors }}
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
          <a href="{% url 'users:register' %}" class="btn btn-link">Register</a>
        </form>
    </div>
  </section>
{% endblock %}
