{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'learning_logs:index' %}">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</header>
  <div class="container">
    <div class="row">
      <div class="col-3">
        {% if person.image %}
          <img src="{{ person.image.url }}" class="media-object img-circle" heigth="64">
        {% else %}
          <img src="{% static 'img/avatar-tiny.jpg' %}" class="media-object img-circle" heigth="64">
        {% endif %}
      </div>

      <div class="col-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#entries">Entries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane container active" id="profile">
            <br>
            <table class="table table-bordered">
              <tbody>
                <tr><td>First name</td><td>{{ person.first_name }}</td></tr>
                <tr><td>Last name</td><td>{{ person.last_name }}</td></tr>
                <tr><td>Sex</td><td>{{ person.sex }}</td></tr>
                <tr><td>Birth date</td><td>{{ person.birth_date|default:"" }}</td></tr>
                <tr><td>Email</td><td>{{ person.email|default:"" }}</td></tr>
                <tr><td>Home page</td><td>{{ person.home_page|default:"" }}</td></tr>
                <tr><td>About me</td><td>{{ person.about_me }}</td></tr>
              </tbody>
            </table>
            
            {% if person.id == request.user.person.id %}
              <a href="{% url 'users:profile_update' person.id %}" class="btn btn-outline-primary">Update</a>
            {% endif %}

          </div>
          <div class="tab-pane container" id="entries">
            <br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center">Date added</th>
                  <th class="text-center">Views</th>
                  <th class="text-center">Likes</th>
                  <th class="text-center">Comments</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in person.owner.entry.all %}
                  <tr>
                    <td><a href="{% url 'learning_logs:entry' entry.slug %}">{{ entry.title }}</a></td>
                    <td class="text-center">{{ entry.date_added|date:'d.m.Y' }}</td>
                    <td class="text-center">{{ entry.views }}</td>
                    <td class="text-center">{{ entry.likes }}</td>
                    <td class="text-center">{{ entry.comments }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane container" id="comments">
            <br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-left">Comment</th>
                  <th class="text-left">Entry</th>
                  <th class="text-center">Date added</th>
                </tr>
              </thead>
              <tbody>
                {% for comment in person.owner.comment.all %}
                  <tr>
                    <td class="text-left"><a href="{% url 'learning_logs:entry' comment.entry.slug %}">{{ comment.text|truncatewords:5 }}</a></td>
                    <td class="text-left">{{ comment.entry.title }}</td>
                    <td class="text-center">{{ comment.date_added|date:'d.m.Y' }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endblock %}
