{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            {% if person.image %}
              <img src="{{ person.image.url }}" class="media-object img-circle" heigth="64">
            {% else %}
              <img src="{% static 'img/avatar-tiny.jpg' %}" class="media-object img-circle" heigth="64">
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>First name</td>
          <td>{{ person.first_name }}</td>
        </tr>
        <tr>
          <td>Last name</td>
          <td>{{ person.last_name }}</td>
        </tr>
        <tr>
          <td>Sex</td>
          <td>{{ person.sex }}</td>
        </tr>
        <tr>
          <td>Birth date</td>
          <td>{{ person.birth_date }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ person.email }}</td>
        </tr>
        <tr>
          <td>Home page</td>
          <td>{{ person.home_page }}</td>
        </tr>
        <tr>
          <td>About me</td>
          <td>{{ person.about_me }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <a href="{% url 'users:profile_update' %}" class="btn btn-warning">Update</a>
  <a href="{% url 'users:profile_delete' %}" class="btn btn-danger">Delete</a>
{% endblock %}
