{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <title>{% block title %}{{ title }}{% endblock %} | Live Journal</title>
</head>
<body>

  {% include "navbar_snippet.html" %}

  {% url 'learning_logs:index' as index %}
  {% if request.path != index %}
  <header class="container mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'learning_logs:index' %}">Home</a></li>
        {% block breadcrumb %}{% endblock %}
        <li class="breadcrumb-item active">{{ title }}</li>
      </ol>
    </nav>
  </header>
  {% endif %}

  {% include "messages_snippet.html" %}

  {% block content %}{% endblock %}

  {% include "footer_snippet.html" %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>
